# Semana 07

Marcia Kori Timaná Espinoza

Temas:
1. Numeros
2. Variables

2. Variables

Siempre deben iniciar con una letra o un guión abajo. (Nunca con un número u otro símbolo)

In [8]:
edad = 20

In [9]:
edad

20

In [10]:
nombre = "Kori"

In [11]:
nombre

'Kori'

In [20]:
apellido = "Timana Espinoza"

In [21]:
apellido

'Timana Espinoza'

In [22]:
nombrecompleto = nombre + apellido

In [23]:
nombrecompleto

'KoriTimana Espinoza'

In [25]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'Kori Timana Espinoza'

In [26]:
#Para saber el tipo de variable utilizamos la función (type)
#Por ejemplo
numero = 50
type(numero)

int

In [27]:
type(nombre)

str

In [28]:
talla = 1.60
talla

1.6

In [29]:
type(talla)

float

In [30]:
#Para convertir un numero en cadena utilizamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [31]:
type(cadena)

str

In [32]:
#Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [33]:
type(numero2)

int

In [34]:
#Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [35]:
type(numero2)

float