# Semana 07
Marcia Kori Timaná Espinoza

Temas:
1. Números
2. variables
3. Manejo de cadenas
4. Ingreso de Datos por el Teclado
5. Operadores

3. Manejo de Cadenas

In [10]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [3]:
#Universidad Ncional Tecnológica de Lima Sur
#01234.......
#                                       -2-1

In [11]:
cadena[5]

'r'

In [12]:
cadena[10]

'd'

In [13]:
#Tambien considera los espacios
cadena[11]

' '

In [14]:
#¿Que me mostrara?
cadena[-5]

'a'

In [15]:
cadena[21]

'T'

In [16]:
#También lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [17]:
#Para mostrar un subcadena [desde, hasta una antes]
#En java era substring()
cadena[3:8]

'versi'

In [18]:
#Para saber el tamaño de una cadena utilizamos len()
#incluye espacios en blanco
len(cadena)

44

In [19]:
#Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [20]:
#Para mostrar una cadena en minuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [21]:
#Generar una lista a partir de una cadena split()
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [22]:
#Generar una lista utilizando un criterio de separación a partir de una cadena.split()
#En este caso, vamos a generar una lista de toda la cadena,
#utilizando como criterio de separación la letra "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnológic', ' de Lim', ' Sur']

In [23]:
#Forma clásica, concatenar con +
nombre = "Kori Timaná"
print("Buenas tardes, " + nombre)

Buenas tardes, Kori Timaná

In [32]:
#Utilizando el .format()
nombre = "Francisco Timaná"
edad = 14
print("hola {} ya sé que tienes {} años".format(nombre, edad))

hola Francisco Timaná ya sé que tienes 14 años

In [31]:
#Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [33]:
#Dar formato con f
#La funcion f, está disponible desde la versión 3.6
nombre = "Francisco Timaná"
edad = 14
print(f"hola {nombre}, ya sé que tienes {edad} años")

hola Francisco Timaná, ya sé que tienes 14 años

In [41]:
#Dar formato con f
#La funcion f, está disponible desde la versión 3.6
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333