# Semana 07
Marcia Kori Timaná Espinoza

Temas:
1. Números
2. variables
3. Manejo de cadenas
4. Ingreso de Datos por el Teclado
5. Operadores

5. Operadores

In [2]:
#5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **,

In [3]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
print(suma)

13

In [7]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
print(suma)

13

In [8]:
numero1 = 10
numero2 = 3
resta = numero1 - numero2
print(resta)

7

In [11]:
numero1 = 10
numero2 = 3
multiplicacion = numero1 * numero2
print(multiplicacion)

30

In [12]:
numero1 = 10
numero2 = 3
division = numero1 / numero2
print(division)

3.3333333333333335

In [13]:
numero1 = 10
numero2 = 3
residuo = numero1 % numero2
print(residuo)

1

In [16]:
numero1 = 10
numero2 = 3
cociente = numero1 //numero2
print(cociente)

3

In [17]:
numero1 = 10
numero2 = 3
potencia = numero1 ** numero2
print(potencia)

1000

In [18]:
#5.2 Operadores de asignación
#Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero +=3
print(numero)

8

In [19]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
#Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [20]:
#La operacion anterior también se puede expresar de la siguiente manera
numero = 5
numero **= 3
print(numero)

125

In [21]:
#5.3 Operadores de comparación
#Se tiene: ==, !=, <, >, <=, >=,

In [22]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [23]:
#Con las cadenas funciona igual
nombre1 = "Kori"
nombre2 = "Kori"
nombre1 == nombre2

True

In [24]:
#5.4 Operadores lógicos
#Se teiene: and, or, not

In [25]:
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [26]:
numero1 < numero2

True

In [27]:
#El not invierte el resultado
not(numero1 < numero2)

False

In [28]:
numero1 < numero2 and numero3 < numero4

True

In [29]:
#Tambien puedes utilizar parentesis para ordenar tu operación
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [30]:
#5.5 Operadores de Pertenencia
#Se tiene: in, not in

In [31]:
#Miremos un ejemplo:

aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [32]:
#¿Diego está en el aula?
alumno1 in aula

False

In [33]:
#¿Juan está en el aula?
alumno2 in aula

True

In [34]:
#¿Diego no está en el aula?
alumno1 not in aula

True

In [35]:
#¿Juan no está en el aula?
alumno2 not in aula

False

In [36]:
#5.6 Operadores de Identidad
#Se tiene: is, is not

In [38]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
#A continuación vamos a indicar que aula3 ca a compartir el mismo objeto que aila 1
aula3 = aula1

In [41]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [42]:
# ¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [43]:
# ¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [44]:
aula1.append("Diego")

In [46]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [47]:
#Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [48]:
#Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']